<!DOCTYPE html>
<html>

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>capacity | dut </title>

	<meta name="keywords" content="dut,mut" />
	<meta name="description" content="capacity | dut">
	<meta name="author" content="wisolve">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="vendor/animate/animate.min.css">
	<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/theme-blog.css">
	<link rel="stylesheet" href="css/theme-shop.css">

	<!-- Demo CSS -->


	<!-- Skin CSS -->
	<link rel="stylesheet" href="css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Head Libs -->
	<script src="vendor/modernizr/modernizr.min.js"></script>

</head>

<body>

	<div class="body">

		<header id="header"
			data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 122, 'stickySetTop': '-122px', 'stickyChangeLogo': false}">
			<div class="header-body border-color-primary border-top-0 box-shadow-none">
				<div class="header-container container z-index-2" style="min-height: 122px;">
					<div class="header-row">
						<div class="header-column">
							<div class="header-row">
								<h1 class="header-logo">
									<a href="index.html">
										<img alt="dut" width="200" height="80" src="img/logo-main.png">
										<span class="hide-text"></span>
									</a>
								</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="header-nav-bar bg-primary">
					<div class="container">
						<div class="header-row p-relative">
							<div class="header-column">
								<div class="header-row">
									<div class="header-colum order-2 order-lg-1">
										<div class="header-row">
											<div
												class="header-nav header-nav-stripe header-nav-divisor header-nav-force-light-text justify-content-start">
												<div
													class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
													<nav class="collapse">
														<ul class="nav nav-pills" id="mainNav">
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #88b3b7" href="team.html">
																	MEET THE
																	TEAM </a>
															</li>
															<li
																class="dropdown dropdown-full-color dropdown-light dropdown-mega">
																<a class="dropdown-item"
																	style="background-color: #f0c244" href="grant.html">
																	GRANTS
																	MANAGEMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #c23730" href="#"> RESEARCH
																	CAPACITY
																	DEVELOPMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #327328"
																	href="information.html"> RESEARCH
																	INFORMATION
																	MANAGEMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #5166a1" href=""> RESEARCH
																	ETHICS &
																	INTEGRITY </a>
															</li>
														</ul>
													</nav>
												</div>
												<button class="btn header-btn-collapse-nav" data-toggle="collapse"
													data-target=".header-nav-main nav">
													<i class="fas fa-bars"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div role="main" class="main">

			<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
				<div class="container">
					<div class="row">

						<div class="col-md-12 align-self-center p-static order-2 text-center">

							<h1 class="text-dark font-weight-bold text-8">RESEARCH CAPACITY DEVELOPMENT</h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container py-4">

				<div class="row">
					<div class="col-lg-3 order-lg-2">
						<aside class="sidebar">

							<h5 class="font-weight-bold pt-1">Quick Links</h5>

							<div class="row">
								<div class="col-lg-12">

									<ul class="list list-icons">
										<li><i class="fas fa-check"></i><a href="focus-area.html">Research Focus Area &
												Leading Researchers</a></li>
										<li><i class="fas fa-check"></i>Annual Research Report</li>
										<li><i class="fas fa-check"></i><a href="https://www.dut.ac.za/wp-content/uploads/2019/07/research-and-innovation-talks-18-07-19.pdf" target="_blank">RPS Newsletter</a></li>
										<li><i class="fas fa-check"></i><a href="https://dut.elements.symplectic.org/default.html" target="_blank">Elements System</a></li>
										<li><i class="fas fa-check"></i>Isidleke The-Nest</li>
									</ul>

								</div>
							</div>

							<div class="pb-2">

								<div class="mb-4 pb-2">
									<article
										class="thumb-info thumb-info-side-image thumb-info-no-zoom bg-transparent border-radius-0 pb-2 mb-2">
										<div class="row">
											<div class="col">
												<a href="">
													<img src="img/events/covid-sign.jpg"
														class="img-fluid border-radius-0"
														alt="Main Reasons To Stop Texting And Driving">
												</a>
											</div>
										</div>
										<!--
												<div class="row">
													<div class="col">
														<div class="thumb-info-caption-text">
															<div class="d-inline-block text-default text-1 mt-2 float-none">
																<a href="blog-post.html"
																	class="text-decoration-none text-color-default">January 12,
																	2019</a>
															</div>
															<h4
																class="d-block line-height-2 text-4 text-dark font-weight-bold mb-0">
																<a href="blog-post.html"
																	class="text-decoration-none text-color-dark">Main Reasons To
																	Stop Texting And Driving</a>
															</h4>
														</div>
													</div>
												</div>-->
									</article>
								</div>

								<div class="col-12 pb-2">
									<article
										class="thumb-info thumb-info-side-image thumb-info-no-zoom bg-transparent border-radius-0 pb-2 mb-2">
										<div class="row">
											<div class="col">
												<a href="">
													<img src="img/events/covid-sign.jpg"
														class="img-fluid border-radius-0"
														alt="Main Reasons To Stop Texting And Driving">
												</a>
											</div>
										</div>
										<!--
												<div class="row">
													<div class="col">
														<div class="thumb-info-caption-text">
															<div class="d-inline-block text-default text-1 mt-2 float-none">
																<a href="blog-post.html"
																	class="text-decoration-none text-color-default">January 12,
																	2019</a>
															</div>
															<h4
																class="d-block line-height-2 text-4 text-dark font-weight-bold mb-0">
																<a href="blog-post.html"
																	class="text-decoration-none text-color-dark">Main Reasons To
																	Stop Texting And Driving</a>
															</h4>
														</div>
													</div>
												</div>-->
									</article>
								</div>
							</div>
						</aside>
					</div>
					<div class="col-lg-9 order-lg-1">
						<div class="blog-posts">

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/fetured-image-1.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a href="">Overview</a>
									</h2>
									<p>As part of the Research and Postgraduate Support Team, the main objective of the
										Research Capacity Development (RCD) Office is to develop research capacity at
										the university, with a specific focus on emerging researchers. The RCD office
										uses a multipronged approach to do this. The following approaches are used
										<ol>
											<li>Growing the number of staff and postgraduate students who publish.</li>
											<li>Facilitating supervisors training.</li>
											<li>Growing the number of staff who have doctorates.</li>
											<li>Providing support for emerging researchers.</li>
											<li>Providing research skills training and support for postgraduate
												students.</li>
										</ol>
									</p>

								</div>
							</article>

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/Research-Capacity-Development-Workshops.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-date">
									<span class="day"></span>
									<span class="month">&nbsp;</span>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a href="">Research
											Capacity Development Workshops</a></h2>
									<p>In an attempt to boost the research capacity of DUT staff and students, the
										following workshops are organised periodically:
										<ul>
											<li>
												Preparing or writing up a research proposal
											</li>
											<li>
												Developing a conceptual framework for postgraduate studies
											</li>
											<li>
												Data gathering, analysis and processes
											</li>
											<li>
												Research reading skills
											</li>
											<li>
												Writing a literature review
											</li>
											<li>
												EndNote
											</li>
											<li>
												SPSS Workshop
											</li>
											<li>
												Using citation and referencing conventions
											</li>
											<li>
												Research paradigms
											</li>
											<li>
												Writing a thesis
											</li>
											<li>
												Academic writing: writing for publications
											</li>
											<li>
												PowerPoint for Effective Presentations
											</li>
										</ul>

									</p>

								</div>
							</article>

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/doctoral.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-date">
									<span class="day"></span>
									<span class="month">&nbsp;</span>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a href="">Doctoral
											Mentoring Workshop</a></h2>
									<p>The doctoral mentoring workshop presents an opportunity for doctoral students to
										work on their research proposals and dissertation in small groups with
										experienced and acclaimed scholars. Doctoral candidates also have the
										opportunity to discuss and engage with peers on research, theoretical and
										methodological interests. Doctoral candidates receive detailed feedback on the
										several stages of their research proposal and dissertation.</p>

								</div>
							</article>

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/Interdisciplinary.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-date">
									<span class="day"></span>
									<span class="month">&nbsp;</span>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a
											href="">Interdisciplinary Research and Innovation
											Conference</a></h2>
									<p>The <em>Interdisciplinary Research and Innovation Conference</em> is an annual
										event
										hosted by the Research and Postgraduate Support Directorate. Since the inception
										of the conference in 2016, we have welcomed both national and international
										researchers, innovators, postgraduate students and academics to exchange ideas
										from diverse disciplines such as: Accounting, Management Sciences, Humanities,
										Arts, Design, Sciences, Health Sciences, Engineering, and Information
										Technology. For more information about the conference, please send a mail to
										<a href="mailto:abstracts@dut.ac.za">abstracts@dut.ac.za</a> </p>

								</div>
							</article>

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/Interdisciplinary.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-date">
									<span class="day"></span>
									<span class="month">&nbsp;</span>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a href="">Strengthening
											Postgraduate Supervision </a></h2>
									<p>This innovative short course is offered through Rhodes University. The
										three-phase course provided structured support needed by academics as they take
										on the complex and demanding role of doctoral and masters supervision. The
										phases consisted of two face-to-face workshops and one online component. The
										course combines discussions, case studies, research literature, video clips, and
										numerous other activities and information, both online and face-to-face, to help
										the new supervisor engage with the practice and processes of doctoral
										supervision in a reflective and informative way.</p>

								</div>
							</article>

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/Research and Doctoral Leadership Academy.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-date">
									<span class="day"></span>
									<span class="month">&nbsp;</span>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a href="">Research and
											Doctoral Leadership Academy (RADLA)</a></h2>
									<p>The RADLA is an initiative set up to support academics who have already obtained
										their PhDs or have registered for a PhD. The academy works closely with
										academics in a bid to assist in managing and supporting their careers. The
										workshops, seminars, public lectures, and training linked to RADLA include:
										<ul>
											<li>Understanding the higher education landscape: local and global.</li>
											<li>Managing your academic career from post doc to professor including
												developing a publication plan</li>
											<li>Ethics of publishing</li>
											<li>NRF rating workshops</li>
											<li>Writing for publications and getting published</li>
											<li>Supervisor support workshops</li>
											<li>Contributing as a public intellectual</li>
											<li>Success with research grants: the entrepreneurial research environment
												in a changing landscape.
											</li>
										</ul>
									</p>
									<p>The RADLA initiative is led by Professor Cheryl Potgieter.</p>

								</div>
							</article>

							<article class="post post-large">
								<div class="post-image">
									<a href="">
										<img src="img/capacity/forms.jpg"
											class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>

								<div class="post-date">
									<span class="day"></span>
									<span class="month">&nbsp;</span>
								</div>

								<div class="post-content">

									<h2 class="font-weight-semibold text-6 line-height-3 mb-3"><a href="">Application Forms</a></h2>
									<ul class="list list-icons list-primary mt-4 mb-4">
										<li class="appear-animation animated fadeInUp appear-animation-visible"
											data-appear-animation="fadeInUp" data-appear-animation-delay="0"
											style="animation-delay: 0ms;"><i class="fas fa-check"></i>
											Student Conference Application Form
										</li>
										<li class="appear-animation animated fadeInUp appear-animation-visible"
											data-appear-animation="fadeInUp" data-appear-animation-delay="300"
											style="animation-delay: 300ms;"><i class="fas fa-check"></i>Staff Conference Application Form
										</li>
										<li class="appear-animation animated fadeInUp appear-animation-visible"
											data-appear-animation="fadeInUp" data-appear-animation-delay="600"
											style="animation-delay: 600ms;"><i class="fas fa-check"></i>Qualification Completion Grant</li>
										<li class="appear-animation animated fadeInUp appear-animation-visible"
											data-appear-animation="fadeInUp" data-appear-animation-delay="900"
											style="animation-delay: 900ms;"><i class="fas fa-check"></i>Seed Funding Grant</li>
										<li class="appear-animation animated fadeInUp appear-animation-visible"
											data-appear-animation="fadeInUp" data-appear-animation-delay="1200"
											style="animation-delay: 1200ms;"><i class="fas fa-check"></i>Postdoctoral Support Funding
										</li>
										<li class="appear-animation animated fadeInUp appear-animation-visible"
											data-appear-animation="fadeInUp" data-appear-animation-delay="1200"
											style="animation-delay: 1200ms;"><i class="fas fa-check"></i>Academic Exchange Funding
										</li>
									</ul>

								</div>
							</article>

						</div>
					</div>
				</div>

			</div>

		</div>

		<footer id="footer">
			<!--<div class="container">
				<div class="row py-5 my-4">
					<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
						<h5 class="text-3 mb-3">NEWSLETTER</h5>
						<p class="pr-1">Keep up on our always evolving product features and technology. Enter your
							e-mail address and subscribe to our newsletter.</p>
						<div class="alert alert-success d-none" id="newsletterSuccess"> <strong>Success!</strong> You've
							been added to our email list. </div>
						<div class="alert alert-danger d-none" id="newsletterError"></div>
						<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST"
							class="mr-4 mb-3 mb-md-0">
							<div class="input-group input-group-rounded"> <input
									class="form-control form-control-sm bg-light" placeholder="Email Address"
									name="newsletterEmail" id="newsletterEmail" type="text"> <span
									class="input-group-append"> <button class="btn btn-light text-color-dark"
										type="submit"><strong>GO!</strong></button> </span> </div>
						</form>
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
						<h5 class="text-3 mb-3">LATEST TWEETS</h5>
						<div id="tweet" class="twitter" data-plugin-tweets
							data-plugin-options="{'username': 'oklerthemes', 'count': 2}">
							<p>Please wait...</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<div class="contact-details">
							<h5 class="text-3 mb-3">CONTACT US</h5>
							<ul class="list list-icons list-icons-lg">
								<li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
									<p class="m-0">234 Street Name, City Name</p>
								</li>
								<li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i>
									<p class="m-0"><a href="tel:8001234567">(800) 123-4567</a></p>
								</li>
								<li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
									<p class="m-0"><a href="mailto:mail@example.com">mail@example.com</a></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<h5 class="text-3 mb-3">FOLLOW US</h5>
						<ul class="social-icons">
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
									title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
									title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
									title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>-->
			<div class="footer-copyright">
				<div class="container py-2">
					<div class="row py-4">
						<!--<div
							class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
							<a href="index.html" class="logo pr-0 pr-lg-3"> <img alt="Porto Website Template"
									src="img/logo-footer.png" class="opacity-5" height="33"> </a> </div>-->
						<div
							class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
							<p>© Copyright 2020. All Rights Reserved.</p>
						</div>
						<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
							<nav id="sub-menu">
								<ul>
									<li><i class="fas fa-angle-right"></i><a href="" class="ml-1 text-decoration-none">
											FAQ's</a></li>
									<li><i class="fas fa-angle-right"></i><a href="" class="ml-1 text-decoration-none">
											Sitemap</a></li>
									<li><i class="fas fa-angle-right"></i><a href="" class="ml-1 text-decoration-none">
											Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Vendor -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="vendor/popper/umd/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/common/common.min.js"></script>
	<script src="vendor/jquery.validation/jquery.validate.min.js"></script>
	<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="vendor/isotope/jquery.isotope.min.js"></script>
	<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="vendor/vide/jquery.vide.min.js"></script>
	<script src="vendor/vivus/vivus.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="js/theme.js"></script>


	<!-- Theme Initialization Files -->
	<script src="js/theme.init.js"></script>

</body>

</html>