<!DOCTYPE html>
<html>

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>GRANTS MANAGEMENT| Dut</title>

	<meta name="keywords" content="dut,focus area, GRANTS MANAGEMENT" />
	<meta name="description" content="GRANTS MANAGEMENT | Dut">
	<meta name="author" content="wisolve.co.za">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="vendor/animate/animate.min.css">
	<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/theme-blog.css">
	<link rel="stylesheet" href="css/theme-shop.css">

	<!-- Demo CSS -->


	<!-- Skin CSS -->
	<link rel="stylesheet" href="css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Head Libs -->
	<script src="vendor/modernizr/modernizr.min.js"></script>

</head>

<body>

	<div class="body">

		<header id="header"
			data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 122, 'stickySetTop': '-122px', 'stickyChangeLogo': false}">
			<div class="header-body border-color-primary border-top-0 box-shadow-none">
				<div class="header-container container z-index-2" style="min-height: 122px;">
					<div class="header-row">
						<div class="header-column">
							<div class="header-row">
								<h1 class="header-logo">
									<a href="index.html">
										<img alt="dut" width="200" height="80" src="img/logo-main.png">
										<span class="hide-text"></span>
									</a>
								</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="header-nav-bar bg-primary">
					<div class="container">
						<div class="header-row p-relative">
							<div class="header-column">
								<div class="header-row">
									<div class="header-colum order-2 order-lg-1">
										<div class="header-row">
											<div
												class="header-nav header-nav-stripe header-nav-divisor header-nav-force-light-text justify-content-start">
												<div
													class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
													<nav class="collapse">
														<ul class="nav nav-pills" id="mainNav">
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #88b3b7" href="team.html"> MEET THE
																	TEAM </a>
															</li>
															<li
																class="dropdown dropdown-full-color dropdown-light dropdown-mega">
																<a class="dropdown-item"
																	style="background-color: #f0c244" href="#"> GRANTS
																	MANAGEMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #c23730" href="capacity.html"> RESEARCH
																	CAPACITY
																	DEVELOPMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #327328" href="information.html"> RESEARCH
																	INFORMATION
																	MANAGEMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #5166a1" href=""> RESEARCH
																	ETHICS &
																	INTEGRITY </a>
															</li>
														</ul>
													</nav>
												</div>
												<button class="btn header-btn-collapse-nav" data-toggle="collapse"
													data-target=".header-nav-main nav">
													<i class="fas fa-bars"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div role="main" class="main">

			<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
				<div class="container">
					<div class="row">

						<div class="col-md-12 align-self-center p-static order-2 text-center">

							<h1 class="text-dark font-weight-bold text-8">GRANTS MANAGEMENT</h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container py-4">

				<div class="row">
					<div class="col-lg-3 order-lg-2">
						<aside class="sidebar">

								<h5 class="font-weight-bold pt-1">Quick Links</h5>
			
								<div class="row">
									<div class="col-lg-12">
			
										<ul class="list list-icons">
                                            <li><i class="fas fa-check"></i><a href="focus-area.html">Research Focus Area & Leading Researchers</a></li>
											<li><i class="fas fa-check"></i>Annual Research Report</li>
											<li><i class="fas fa-check"></i><a href="https://www.dut.ac.za/wp-content/uploads/2019/07/research-and-innovation-talks-18-07-19.pdf" target="_blank">RPS Newsletter</a></li>
											<li><i class="fas fa-check"></i><a href="https://dut.elements.symplectic.org/default.html" target="_blank">Elements System</a></li>
											<li><i class="fas fa-check"></i>Isidleke The-Nest</li>
										</ul>
			
									</div>
								</div>
			
								<div class="pb-2">
			
									<div class="mb-4 pb-2">
										<article
											class="thumb-info thumb-info-side-image thumb-info-no-zoom bg-transparent border-radius-0 pb-2 mb-2">
											<div class="row">
												<div class="col">
													<a href="">
														<img src="img/events/covid-sign.jpg" class="img-fluid border-radius-0"
															alt="Main Reasons To Stop Texting And Driving">
													</a>
												</div>
											</div>
											<!--
											<div class="row">
												<div class="col">
													<div class="thumb-info-caption-text">
														<div class="d-inline-block text-default text-1 mt-2 float-none">
															<a href="blog-post.html"
																class="text-decoration-none text-color-default">January 12,
																2019</a>
														</div>
														<h4
															class="d-block line-height-2 text-4 text-dark font-weight-bold mb-0">
															<a href="blog-post.html"
																class="text-decoration-none text-color-dark">Main Reasons To
																Stop Texting And Driving</a>
														</h4>
													</div>
												</div>
											</div>-->
										</article>
									</div>
			
									<div class="col-12 pb-2">
										<article
											class="thumb-info thumb-info-side-image thumb-info-no-zoom bg-transparent border-radius-0 pb-2 mb-2">
											<div class="row">
												<div class="col">
													<a href="">
														<img src="img/events/covid-sign.jpg" class="img-fluid border-radius-0"
															alt="Main Reasons To Stop Texting And Driving">
													</a>
												</div>
											</div>
											<!--
											<div class="row">
												<div class="col">
													<div class="thumb-info-caption-text">
														<div class="d-inline-block text-default text-1 mt-2 float-none">
															<a href="blog-post.html"
																class="text-decoration-none text-color-default">January 12,
																2019</a>
														</div>
														<h4
															class="d-block line-height-2 text-4 text-dark font-weight-bold mb-0">
															<a href="blog-post.html"
																class="text-decoration-none text-color-dark">Main Reasons To
																Stop Texting And Driving</a>
														</h4>
													</div>
												</div>
											</div>-->
										</article>
									</div>
								</div>
						</aside>
					</div>
					<div class="col-lg-9 order-lg-1">
						<div class="blog-posts">

							<article class="post post-medium">
								<div class="row mb-3">
									<div class="col-lg-7">
										<div class="post-content">
											<h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
												<a>Overview</a>
											</h2>
											<p class="mb-0">The Grants and Funding Division of the Research and Postgraduate Support Directorate oversees research grants and funding opportunities for the Durban University of Technology community. The division manages both internal and external grant opportunities for students and members of staff within the University.</p>
										</div>
									</div>
								</div>
							</article>

							<article class="post post-medium">
								<div class="row mb-3">
										<div class="col-lg-5"><div class="post-image">
												<a>
													<img src="img/bus/feature-image1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
												</a>
											</div>
										</div>
									<div class="col-lg-7">
										<div class="post-content">
											<h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2"><a
													href="">Bursary Opportunities</a>
											</h2>
											<p class="mb-0">National Research Foundation - https://www.nrf.ac.za
                                                    DUT Postgraduate Bursary Scheme</p>
										</div>
									</div>
								</div>
							</article>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</body>

</html>