<!DOCTYPE html>
<html>

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Team | Dut</title>

	<meta name="keywords" content="team, dut" />
	<meta name="description" content="meet the team">
	<meta name="author" content="wisolve">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="vendor/animate/animate.min.css">
	<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/theme-blog.css">
	<link rel="stylesheet" href="css/theme-shop.css">

	<!-- Demo CSS -->


	<!-- Skin CSS -->
	<link rel="stylesheet" href="css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Head Libs -->
	<script src="vendor/modernizr/modernizr.min.js"></script>

</head>

<body>

	<div class="body">

		<header id="header"
			data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 122, 'stickySetTop': '-122px', 'stickyChangeLogo': false}">
			<div class="header-body border-color-primary border-top-0 box-shadow-none">
				<div class="header-container container z-index-2" style="min-height: 122px;">
					<div class="header-row">
						<div class="header-column">
							<div class="header-row">
								<h1 class="header-logo">
									<a href="index.html">
										<img alt="dut" width="200" height="80" src="img/logo-main.png">
										<span class="hide-text"></span>
									</a>
								</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="header-nav-bar bg-primary">
					<div class="container">
						<div class="header-row p-relative">
							<div class="header-column">
								<div class="header-row">
									<div class="header-colum order-2 order-lg-1">
										<div class="header-row">
											<div
												class="header-nav header-nav-stripe header-nav-divisor header-nav-force-light-text justify-content-start">
												<div
													class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
													<nav class="collapse">
														<ul class="nav nav-pills" id="mainNav">
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #88b3b7" href="team.html">
																	MEET THE
																	TEAM </a>
															</li>
															<li
																class="dropdown dropdown-full-color dropdown-light dropdown-mega">
																<a class="dropdown-item"
																	style="background-color: #f0c244" href="grant.html">
																	GRANTS
																	MANAGEMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #c23730"
																	href="capacity.html"> RESEARCH
																	CAPACITY
																	DEVELOPMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #327328"
																	href="information.html"> RESEARCH
																	INFORMATION
																	MANAGEMENT </a>
															</li>
															<li class="dropdown dropdown-full-color dropdown-light">
																<a class="dropdown-item"
																	style="background-color: #5166a1" href=""> RESEARCH
																	ETHICS &
																	INTEGRITY </a>
															</li>
														</ul>
													</nav>
												</div>
												<button class="btn header-btn-collapse-nav" data-toggle="collapse"
													data-target=".header-nav-main nav">
													<i class="fas fa-bars"></i>
												</button>
											</div>
										</div>
									</div>
									<!--
	
										<div class="header-column order-1 order-lg-2">
											<div class="header-row justify-content-end">
												<div
													class="header-nav-features header-nav-features-no-border w-75 w-auto-mobile d-none d-sm-flex">
													<form role="search" class="d-flex w-100"
														action="page-search-results.html" method="get">
														<div class="simple-search input-group w-100">
															<input class="form-control border-0 text-1" id="headerSearch"
																name="q" type="search" value="" placeholder="Search...">
															<span class="input-group-append bg-light border-0">
																<button class="btn" type="submit">
																	<i class="fa fa-search header-nav-top-icon"></i>
																</button>
															</span>
														</div>
													</form>
												</div>
											</div>
										</div>
										-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div role="main" class="main">

			<section
				class="page-header page-header-modern page-header-background page-header-background-pattern page-header-background-sm overlay overlay-color-dark overlay-show overlay-op-5"
				style="background-image: url('img/patterns/wild_oliva.png');">
				<div class="container">
					<div class="row">
						<div class="col-md-12 align-self-center p-static order-2 text-center">
							<h1>Meet the <strong>Team</strong></h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container py-4">

				<ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team"
					data-option-key="filter">
					<li class="nav-item" data-option-value="*"><a class="nav-link text-1 text-uppercase"
							href="team.html"></a></li>
				</ul><br /><br />
				<!-- 1st -->

				<div class="row">
					<div class="col-md-12 col-lg-12 mb-12 mb-lg-12 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">

						<div class="card text-center leadership">
							<div class="card-header text-1 text-uppercase" style="background-color: #88b3b7">
								<h3 style="color: black">RESEARCH & POSTGRADUATE SUPPORT DIRECTORATE</h3>
							</div>
							<div class="card-body">

								<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
									<div class="row team-list sort-destination" data-sort-id="team">
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rpsd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/4.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Dr. Linda Zikhona
															Linganiso</strong><br>
														<i style="font-size: 11px"> Director: Research & Postgraduate
															Support</i><br>
														Email: <br>
														Tel. 031 373 2577
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rpsd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/14.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ms Vaneshree
														Govender</strong><br>
													<i style="font-size: 11px"> Acting Manager</i><br>
													Email: vanesh@dut.ac.za<br>
													Tel: 031 373 2558
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rpsd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/7.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Dr Farai
															Dziike</strong><br>
														<i style="font-size: 11px">Post-doctoral Fellow</i><br>
														Email: FaraiD1@dut.ac.za <br>
														Tel: 031 373 2912
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rpsd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/1.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ms Nomnikelo Patience
														Lundall</strong><br>
													<i style="font-size: 11px"> Research Secretary</i><br>
													Email: : NomnikeloL@dut.ac.za<br>
													Tel: 031 373 2557
												</span>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="card-footer text-1 text-uppercase" style="background-color: #88b3b7">
								<a href="#" class="btn btn-primary btn-modern">Back to top</a>
							</div>
						</div>
					</div>

				</div><br /><br />
				<!-- 2nd -->

				<div class="row">
					<div class="col-md-12 col-lg-12 mb-12 mb-lg-12 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">

						<div class="card text-center">
							<div class="card-header text-1 text-uppercase" style="background-color: #f0c244">
								<h3 style="color: black">Research Capacity Development</h3>
							</div>
							<div class="card-body">
								<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
									<div class="row team-list sort-destination" data-sort-id="team">
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rcd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/14.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ms Vaneshree
														Govender</strong><br>
													<i style="font-size: 11px"> Research Capacity Development
														Co-ordinator</i><br>
													Email: vanesh@dut.ac.za<br>
													Tel: 031 373 2558
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rcd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/19.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Mr. Zenande
														Ndakisa</strong><br>
													<i style="font-size: 11px"> Research, Innovation and Engagement
														Liaison</i><br>
													Email: ZenandeN@dut.ac.za<br>
													Tel. 031 373 3007
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rcd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/null.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Mr. Theophilus
														Adedokun</strong><br>
													<i style="font-size: 11px"> Administrator: Interdisciplinary
														Research and Innovation
														Conference</i><br>
													Email: abstracts@dut.ac.za<br>
													Tel. 031 373 3007
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rcd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/null.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Ms. Lebo
															Ramakatsa</strong><br>
														<i style="font-size: 11px"> Gatekeeper</i><br>
														Email: gatekeeper@dut.ac.za<br>
														Tel. 031 373 2912
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rcd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/12.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Mr Themba
														Zitha</strong><br>
													<i style="font-size: 11px">Research Administrator</i><br>
													Email: ThembaZ@dut.ac.za<br>
													Tel: 031 373 3007
												</span>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="card-footer text-1 text-uppercase" style="background-color: #f0c244">
								<a href="#" class="btn btn-primary btn-modern">Back to top</a>
							</div>
						</div>
					</div>

				</div><br /><br />
				<!-- 3rd -->

				<div class="row">
					<div class="col-md-12 col-lg-12 mb-12 mb-lg-12 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">

						<div class="card text-center">
							<div class="card-header text-1 text-uppercase" style="background-color: #c23730">
								<h3 style="color: black">GRANTS MANAGEMENT DIVISION</h3>
							</div>
							<div class="card-body">
								<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
									<div class="row team-list sort-destination" data-sort-id="team">
										<div class="col-12 col-sm-6 col-lg-3 isotope-item gmd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/null.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>DR Bloodless Dzwairo</strong><br>
														<i style="font-size: 11px">Grants Management Division </i><br>
														Email: grantsadministrator@dut.ac.za<br>
														Tel: 031 373 2423
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item gmd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/23.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Mr Langelihle
															Shange</strong><br>
														<i style="font-size: 11px"> RESEARCH ADMINISTRATOR
															NRF Research Grants for DUT Staff Researchers</i><br>
														Email: grantsassistant@dut.ac.za<br>
														Tel. 031 373 2448
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item gmd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/22.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Ms Samukelisiwe Portia
															Gambu</strong><br>
														<i style="font-size: 11px">RESEARCH ADMINISTRATOR
															NRF BTech Scholarships, All other external scholarships
															except NRF and
															SKA</i><br>
														Email: grantsassistant@dut.ac.za<br>
														Tel. 031 373 2448
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item gmd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/20.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Mr Itumeleng Joshua
															Tshabalala</strong><br>
														<i style="font-size: 11px">NRF and SKA Masters and Doctoral
															Scholarship</i><br>
														Email: grantsassistant@dut.ac.za<br>
														Tel. 031 373 2448
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item gmd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/15.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Ms Lizibeth
															Matinya</strong><br>
														<i style="font-size: 11px">STUDENT ASSISTANT
															Post-Doctoral Fellows/Research Associates/Research Fellows,
															Student Support,
															Events, Logistics and Systems Design and Maintenance</i><br>
														Email: grantsassistant@dut.ac.za<br>
														Tel. 031 373 2448
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item gmd">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/null.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Mr Bongumenzi Talent
														Mncwango</strong><br>
													<i style="font-size: 11px">RESEARCH ADMINISTRATOR
														DUT Internal Masters and Doctoral Scholarships</i><br>
													Email: grantsassistant@dut.ac.za<br>
													Tel. 031 373 2448
												</span>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="card-footer text-1 text-uppercase" style="background-color: #c23730">
								<a href="#" class="btn btn-primary btn-modern">Back to top</a>
							</div>
						</div>
					</div>

				</div><br /><br />

				<!-- 4th row -->

				<div class="row">
					<div class="col-md-12 col-lg-12 mb-12 mb-lg-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">

						<div class="card text-center">
							<div class="card-header text-1 text-uppercase" style="background-color: #327328">
								<h3 style="color: black">INSTITUTIONAL RESEARCH ETHICS COMMITTEE (IREC)</h3>
							</div>
							<div class="card-body">
								<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
									<div class="row team-list sort-destination" data-sort-id="team">
										<div class="col-12 col-sm-6 col-lg-3 isotope-item irec">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/null.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Prof Jamila K
															Adam</strong><br>
														<i style="font-size: 11px"> IREC Chair</i><br>
														Email: adamjk@dut.ac.za<br>
														Tel. 031 373 3093
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item irec">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/16.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ms Lavisha
														Deonarain</strong><br>
													<i style="font-size: 11px">Administrator</i><br>
													Email: lavishad@dut.ac.za<br>
													Tel. 031 373 2375
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item irec">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/2.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Ms Kimera
															Naicker</strong><br>
														<i style="font-size: 11px">IREC Assistant</i><br>
														Email: irec@dut.ac.za<br>
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item irec">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/21.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ms Sithabile Joy
														mutambe</strong><br>
													<i style="font-size: 11px">IREC Assistant</i><br>
													Tel: 031 373 3093 <br>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item irec">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/17.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Mr Musa
															Xulu</strong><br>
														<i style="font-size: 11px">IREC Assistant</i><br>
														Tel: 031 373 2375<br>
													</span>
												</span>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="card-footer text-1 text-uppercase" style="background-color: #327328">
								<a href="#" class="btn btn-primary btn-modern">Back to top</a>
							</div>
						</div>
					</div>

				</div><br /><br>

				<!-- 5th row -->

				<div class="row">
					<div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">

						<div class="card text-center">
							<div class="card-header text-1 text-uppercase" style="background-color: #5166A1">
								<h3 style="color: black">RESEARCH INFORMATION MANAGEMENT</h3>
							</div>
							<div class="card-body">
								<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
									<div class="row team-list sort-destination" data-sort-id="team">
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/9.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Ms Charity Philisiwe
															Cele</strong><br>
														<i style="font-size: 11px">RIM Coordinator</i><br>
														Email: celepc@dut.ac.za<br>
														Tel. 031 373 2382
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/18.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Ms. Zanele Priscilla
															Ncgobo</strong><br>
														<i style="font-size: 11px">Administrator: Outputs</i><br>
														Email: Zaneles@dut.ac.za<br>
														Tel: 031 373 2527
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/11.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption">
													<span class="thumb-info-caption-text"><strong>Dr Mohapi Julia
															Mathuetsi</strong><br>
														<i style="font-size: 11px">Administrator: Creative Outputs</i><br>
														Email: JuliaM@dut.ac.za<br>
														Tel: 031 373 2912
													</span>
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/13.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ms Thembelihle
														Ngubane</strong><br>
													<i style="font-size: 11px">Administrator: Outputs</i><br>
													Email: Thembelihlen1@dut.ac.za<br>
													Tel: 031 373 2382
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/5.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Mr. Mphenduleni
														Jili</strong><br>
													<i style="font-size: 11px">Administrator: Outputs</i><br>
													Email: Mphendulenij@dut.ac.za<br>
													Tel: 031 373 2971
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/6.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Mr. Edzani
														Nevondo</strong><br>
													<i style="font-size: 11px">IT Administrator: Elements System</i><br>
													Email: edzanin@dut.ac.za<br>
													Tel: 031 373 2971
												</span>
											</span>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item rim">
											<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
												<span class="thumb-info-wrapper">
													<a>
														<img src="img/team/3.jpg" class="img-fluid" alt="">
													</a>
												</span>
												<span class="thumb-info-caption-text"><strong>Ntethelelo
														Mondli</strong><br>
													<i style="font-size: 11px">Administrator: Outputs</i><br>
													Email: Mphendulenij@dut.ac.za<br>
													Tel: 031 373 2971
												</span>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="card-footer text-1 text-uppercase" style="background-color: #5166A1">
								<a href="#" class="btn btn-primary btn-modern">Back to top</a>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<footer id="footer">
			<!--<div class="container">
				<div class="row py-5 my-4">
					<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
						<h5 class="text-3 mb-3">NEWSLETTER</h5>
						<p class="pr-1">Keep up on our always evolving product features and technology. Enter your
							e-mail address and subscribe to our newsletter.</p>
						<div class="alert alert-success d-none" id="newsletterSuccess"> <strong>Success!</strong> You've
							been added to our email list. </div>
						<div class="alert alert-danger d-none" id="newsletterError"></div>
						<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST"
							class="mr-4 mb-3 mb-md-0">
							<div class="input-group input-group-rounded"> <input
									class="form-control form-control-sm bg-light" placeholder="Email Address"
									name="newsletterEmail" id="newsletterEmail" type="text"> <span
									class="input-group-append"> <button class="btn btn-light text-color-dark"
										type="submit"><strong>GO!</strong></button> </span> </div>
						</form>
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
						<h5 class="text-3 mb-3">LATEST TWEETS</h5>
						<div id="tweet" class="twitter" data-plugin-tweets
							data-plugin-options="{'username': 'oklerthemes', 'count': 2}">
							<p>Please wait...</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<div class="contact-details">
							<h5 class="text-3 mb-3">CONTACT US</h5>
							<ul class="list list-icons list-icons-lg">
								<li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
									<p class="m-0">234 Street Name, City Name</p>
								</li>
								<li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i>
									<p class="m-0"><a href="tel:8001234567">(800) 123-4567</a></p>
								</li>
								<li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
									<p class="m-0"><a href="mailto:mail@example.com">mail@example.com</a></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<h5 class="text-3 mb-3">FOLLOW US</h5>
						<ul class="social-icons">
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
									title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
									title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
									title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>-->
			<div class="footer-copyright">
				<div class="container py-2">
					<div class="row py-4">
						<!--<div
							class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
							<a href="index.html" class="logo pr-0 pr-lg-3"> <img alt="Porto Website Template"
									src="img/logo-footer.png" class="opacity-5" height="33"> </a> </div>-->
						<div
							class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
							<p>© Copyright 2020. All Rights Reserved.</p>
						</div>
						<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
							<nav id="sub-menu">
								<ul>
									<li><i class="fas fa-angle-right"></i><a href="" class="ml-1 text-decoration-none">
											FAQ's</a></li>
									<li><i class="fas fa-angle-right"></i><a href="" class="ml-1 text-decoration-none">
											Sitemap</a></li>
									<li><i class="fas fa-angle-right"></i><a href="" class="ml-1 text-decoration-none">
											Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Vendor -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/common/common.min.js"></script>
	<script src="vendor/jquery.validation/jquery.validate.min.js"></script>
	<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="vendor/isotope/jquery.isotope.min.js"></script>
	<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="vendor/vide/jquery.vide.min.js"></script>
	<script src="vendor/vivus/vivus.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="js/theme.js"></script>


	<!-- Theme Initialization Files -->
	<script src="js/theme.init.js"></script>

</body>

</html>