.blog-preview{
    background-color: #fff;
    padding-top: 85px;
    padding-bottom: 85px;
    h4{
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
    .post-card{
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 10px;
        &:hover{
            box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
        }
        .post-body{
            padding: 30px;
            h5{
                font-size: 20px;
                margin-bottom: 15px;
                font-weight: 500;
            }
            p{
                color: #545c5c;
                font-size: 16px;
                margin-bottom: 15px;
                font-weight: 400;
                font-style: normal;
            }
            em{
                color: #545c5c;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}